.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-control label {
    width: 20%;
    padding-right: 20px;
    margin-bottom: 5px;
  }
  
  .form-control input[type="text"],
  .form-control input[type="password"] {
    width: 40%;
    padding: 5px;
  }
  
  button {
    max-width: 150px;
    padding: 5px 10px;
  }
  
  @media screen and (max-width: 600px) {
    
  
    .form-control {
      flex-direction: column;
    }
  
    .form-control input[type="text"],
    .form-control input[type="password"] {
      width: inherit;
    }
  }